@charset "utf-8";
img { border: 0px; }
#body2{
    background-color: #f0f2f5;
    width: 100%;
    height: 1000px;
}
.bannerbox {
    margin-top: 30px;
    margin-left: 122px;
    width: 1172px;
    height: 447px;
    overflow: hidden;
}
#focus {
    width: 1172px;
    height: 447px;
    clear: both;
    overflow: hidden;
    position: relative;
    float: left;
}
#focus ul {
    width: 1172px;
    height: 447px;
    float: left;
    position: absolute;
    clear: both;
    padding: 0px;
    margin: 0px;
}
#focus ul li
{ float: left;
    width: 1172px;
    height: 447px;
    overflow: hidden;
    position: relative;
    padding: 0px; margin: 0px;
}
#focus .preNext
{ width: 550px; height: 447px; position: absolute; top: 0px; cursor: pointer; }
#focus .pre
{ left: 0; background: url(../images/sprite.png) no-repeat left center; }
#focus .next
{ right: 0; background: url(../images/sprite1.png) no-repeat right center; }
